{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"semi": 2,
		"space-before-function-paren": 2
	},
	"env": {
		"node": true,
		"browser": true,
		"commonjs": true,
		"amd": true
	}
}